body {
    color: #222;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
    margin: 1em 0 0;
}

h1, .intro {
    text-align: center;
}

a {
    border-bottom: 1px solid coral;
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: coral;
    border-bottom: 1px solid cornflowerblue;
}

p, blockquote {
    line-height: 1.5em;
}

blockquote {
    border-left: 4px solid coral;
    padding: 0.5em 0 0.5em 2em;
}

header {
    margin: 2em 2em 0;
}

ol, ul, blockquote {
    margin: 0;
}

ol, ul {
    padding-inline-start: 0;
    list-style: none;
}

/** Counter styles from https://www.w3.org/Style/Examples/007/color-bullets.en.html */
ol {
    counter-reset: li;
}

.numbered-list-item {
    counter-increment: li;
}

.numbered-list-item::before {
    content: counter(li);
    color: cornflowerblue;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}

/* GitHub corner from http://tholman.com/github-corners/ */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.github-corner-svg {
    border: 0;
    color:#fff;
    fill: cornflowerblue;
    position: absolute;
    right: 0;
    top: 0;
}
